/* PAGE GRID STYLES */
.page-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;

    padding-left: 128px;
    padding-right: 128px;

    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    align-items: start;
}

/* starting positions */
.start-1 { grid-column-start: 1; }
.start-2 { grid-column-start: 2; }
.start-3 { grid-column-start: 3; }
.start-4 { grid-column-start: 4; }
.start-5 { grid-column-start: 5; }
.start-6 {grid-column-start: 6;}
.start-7 {grid-column-start: 7;}
.start-8 {grid-column-start: 8;}
.start-9 {grid-column-start: 9;}

/* spans */
.col-1 { grid-column-end: span 1; }
.col-2 { grid-column-end: span 2; }
.col-3 { grid-column-end: span 3; }
.col-4 { grid-column-end: span 4; }
.col-5 { grid-column-end: span 5; }
.col-6 { grid-column-end: span 6; }
.col-7 { grid-column-end: span 7; }
.col-8 { grid-column-end: span 8; }
.col-9 { grid-column-end: span 9; }
.col-10 { grid-column-end: span 10; }
.col-11 { grid-column-end: span 11; }
.col-12 { grid-column-end: span 12; }